/*Para agrandar imagen, solo mover el width, lo hace proporcional si no se mueve el height*/

*{
    box-sizing: border-box;
}

body, input{
    font-family: 'Slabo 27px', serif;
    display:block;
    font-weight: bolder;
    margin: 20px 90px;
    shape-margin: 10%;
    border: 20px;
    background-color: rgba(215, 215, 215, 0.536);
    padding: 1%;
    position: absolute;
    max-width: 600px;
    
    
}

#fondo{
   
    width:80%;
    display: inline-flex;
}

#todo{

    margin: 10px 80px;
    background-color: #cac8c4cf;
    width:500px;
}

header{
    font-size: 50px;
    text-align: center;
    padding:3px;
    background: rgb(230, 89, 89);
   
}

#contenedor{
    width: px;
    margin: -20px -15px;
}

img{
    display: block;
    width: 200px;
    background: black;
    background-blend-mode: darken;
    border-style: solid;
    border-radius: 10px;
    border-image-width: 5px;
    margin: -40px 140px 10px;
}


#cuadro{
    width: 30px;
    height: 30px;
    margin: 2px 480px;
    background-color: black
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(248, 145, 0, 0.87)
}

#contenedor2{
    width: 320px;
    margin: 30px 80px;
    vertical-align: 3px;
    
}

h2{
    background: rgb(48, 165, 238);
    margin: 10px -96px;
    text-align: center;
    padding-right: 121px;
    font-size: 28px
}

h3{
    background: rgb(48, 165, 238);
    margin: 10px -96px;
    text-align: center;
    padding-right: 121px;
    font-size: 28px
}

a:hover, a.shad{
    color: rgba(21, 21, 182, 0.705);
    text-shadow: yellowgreen;
    cursor: pointer;
    
}

ul.sem1, a{
    font-weight: bold;
    color: rgb(43, 1, 1);
    text-decoration-line: unset;
    font-size:28px;
    
}

