*{
    box-sizing: border-box;
}

body {
    height: 102vh;
    background: url("fondomeeseek.jpg");
    background-size:cover;
    margin: -2;
  
}

.divisor{
    height: 100vh;

  
}
.button{
    top: 169px;
    left: 97px;
    height: 100px;
    width: 100px;
    position:absolute;
    background-color: transparent;
    border: none;
    outline: none;
}
.justask{
    top: 156px;
    left: 87px;
    height: 120px;
    
    position:absolute;
}

.filtro{
    top: 200px;
    left: 220px;
    height: 40px;
    background-color: transparent;
    font-family: 'Mali', cursive;
    font-size: .85em;
    width: auto;
    position:absolute;
    border: 1px rgb(0, 153, 255) solid;
   
}



.logo{
    height: 140px;
    margin-left: 125px;
}

.DivL{
    left:0;
    height: 100%;
    width: 55%;
   
}

.DivR{
    right:85px;
    top:22px;

    bottom:10px;
    width: 45%;
    position: fixed;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 232px);
    
    grid-gap: 6px;
    justify-content: center;

}


.pImg{
    
    border: 8px solid;
    border-color: black;
    background-color: blanchedalmond;
    padding: 3px;
    
    font-family: 'Mali', cursive;  
    font-size: 1.05em;
    font-weight: bolder;
    
    width: auto; 
}

.person{
    height: 210px;  
}

.dialogo{
    width: 270px;
    left: 330px;
    top: 220px;
    position: absolute;
     
}

.infoTexto{
    top: 230px;
    left: 420px;
    height: 170px;
    width: 160px;
    color: rgb(0, 0, 0);
    font-family: 'Mali', cursive;
    font-size: 1.3em;
    font-weight: bolder;
    position: absolute;
}

.divFlechas{
    width: 90px;
    height: 340px;
    right:10px;
    margin-right: 30px;
    top:200px;
    position: absolute;
    
    
}

.flechas{
    
    width: 50px;
    margin:15px;
    padding: 2px;
    cursor: pointer; 
}
.flechasmid{
    
    width: 90px;
    margin:5px;
    padding: 2px;
    cursor: pointer; 
}


.flechas:hover{
    outline: 3px groove rgba(0, 0, 255, 0.247);
    
}

.activo{
    
    border: rgb(42, 165, 83) 2px solid;
}

@media all and (max-width: 1240px){
    .DivR{
        grid-template-columns: repeat(2, 170px);
        grid-gap: 6px;
        right:50px;
    
    }
    .pImg{ 
        font-size: .87em;
        font-weight: bolder;
        width: 170px; 
    }
    .person{
        height: 150px;
    }
    .flechas{
        height:30px
    }
    .flechasmid{
        width:60px;
    }
    .divFlechas{
        margin-right:0;
    }
}
@media all and (max-width: 856px){
    body{
        height: 100vh;
    }
    .DivR{
        width: 35%;
        grid-template-columns: repeat(2, 130px);
        grid-gap: 6px;
        right:50px;
    
    }
    .pImg{ 
        border: 5px solid;
        font-size: .85em;
        font-weight: bolder;
        width: 130px; 
    }
    .person{
        height: 115px;
    }
    .flechas{
        height:26px
    }
    .flechasmid{
        width:50px;
        margin-right: -8px;
    }
    .divFlechas{
        margin-right:-40px;
    }
    .dialogo{
        width: 200px;
    }
    .infoTexto{
        font-size: .93em;
        width: 130px;
        left:390px;
        top: 250px;
    }
}
@media all and (max-width: 691px){
    body{
        height: 100vh;
    }
    .logo{
        height: 120px;
        margin-left: 60px;
    }
    .DivR{
        width: 35%;
        grid-template-columns: repeat(2, 115px);
        grid-gap: 6px;
        right:50px;
    
    }
    .pImg{ 
        border: 5px solid;
        font-size: .85em;
        font-weight: bolder;
        width: 115px; 
    }
    .person{
        height: 100px;
    }
    .flechas{
        height:26px
    }
    .flechasmid{
        width:42px;
        margin-right: -2px;
    }
    .divFlechas{
        margin-right:-40px;
    }
    .dialogo{
        width: 0px;
    }
    .infoTexto{
        font-size: 0em;
        
    }
}
@media all and (max-width: 510px){
    body{
        background: url("fondomeeseekV.png") ;
        background-size:100%;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-color: rgb(248, 148, 29, 1);
        height: 100vh;
        
    }

    .logo{
        width: 200px;
    }
    .filtro{
        left: 60px;
        top: 300px;
    }

    .DivR{
        width: 35%;
        grid-template-columns: repeat(2, 140px);
        grid-gap: 6px;
        right:50px;
    
    }
    .pImg{ 
        border: 5px solid;
        font-size: .6em;
        font-weight: bolder;
        width: 130px; 
    }
    .person{
        height: 100px;
    }
    .flechas{
        height:26px
    }
    .flechasmid{
        width:42px;
        margin-right: -2px;
    }
    .divFlechas{
        left:0;
        flex-direction: row;
    }
    .dialogo{
        width: 0px;
    }
    .infoTexto{
        font-size: 0em;
        
    }
    
}
