 *{
    box-sizing:border-box;
}


body{
    margin:0;
    font-family: Arial, sans-serif;
}

.top{
    position: fixed;
    right:0;
    top:0;
}

.contenedor{
height:100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

#contenedorCentro{
    margin-bottom: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.ImgDiv{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.SearchDiv{
    display: flex;
    justify-content: center;
    padding: 0px;
}
.botonesDiv{
    display: flex;
    justify-content: center;
    padding: 22px;
}

.micDiv{
    padding: 12px;
    position: fixed;
    left:65.6%;

}

.micro{

    width: 24px;
    cursor: pointer;
}

#InSearch{
    width: 460px;
    font-size: 15px;
    border-radius: 2px;
    border-style: solid;
    border-color: rgba(177, 173, 173, 0.447);
    border-width: .5px;
    padding: 12px;
    box-shadow: -1px 1px .5px 1px  rgba(38, 37, 37, 0.1);
    outline: none;
    
   
}

button{
    width: 136px;
    height: 36px;
    border-style: none;
    border-radius: 1px;
    text-align: center;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    background-color: rgba(242, 240, 240, 0.988);
    color: gray;
    padding:1px;      
    margin-top: 12px;
    margin-right: 6px;
    outline-width: .6px;
    
}

button:hover{
   color: black;
   border-style: solid;
  
}

button:focus{
    border-inline-end-style: solid;
    outline-style: solid;
    outline-color: #4d90fe;
}



#text{
    font-size: 13px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor:pointer;
}

#foot{
    width: 100%;
    left:0;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;

}

.foot1{
    width: 100%;
    font-style: normal;
    font-size: 15px;
    font-weight: 100;
    border-style: solid;
    border-width: .2px;
    border-color: rgba(167, 167, 167, 0.29);
    border-bottom: none;    

    padding: 3px;
    color: rgba(65, 65, 65, 0.625);
    border-color: rgba(167, 167, 167, 0.242);
    background: rgba(223, 222, 222, 0.4);

    display: flex;
    flex-direction: row;
    
}

.foot2{
    font-style: normal;
    font-size: 13px;
    font-weight: 500;
    border-style: solid;
    border-width: .1px;
    border-color: rgba(201, 199, 199, 0.29);
    
    padding: 9px;
    color: rgba(65, 65, 65, 0.845);
    border-color: rgba(167, 167, 167, 0.201);
    background: rgba(223, 222, 222, 0.4);
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center
    
}

.span1:hover{
    text-decoration: underline;

}

.foot3{
    font-style: normal;
    font-size: 13px;
    font-weight: 500;
   
    padding: 5px;
    color: rgba(65, 65, 65, 0.845);
    margin-left: auto;
   
}

.span0{
    margin-left: 22px;
    margin-bottom: 0px;
    padding:8px;
}

.span1{
    padding: 8px;
    margin-left: 13px;
}

a{
    color: rgb(71, 44, 169);
    margin-left: 5px;
    
}

.links{
    text-decoration: none;
    color: rgba(65, 65, 65, 0.845);
 
}
